<form action="{{  url_for('create_user')  }}" method="post">
    <h1>New User</h1>
    <div>
      <label>
        Nickname
        <input type="text" required name="nickname">
      </label>
      {% if errors['nickname'] %}
        <div>{{ errors['nickname'] }}</div>
      {% endif %}
    </div>
    <div>
      <label>
        Email
        <input type="email" required name="email">
      </label>
      {% if errors['email'] %}
      <div>{{ errors['email'] }}</div>
      {% endif %}
    </div>
    <input type="submit" value="Submit">
  </form>